*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: Exo, Arial, Helvetica, sans-serif;
}

:root {
    --hue-neutral: 35;
    --hue-wrong: 0;
    --hue-correct: 145;
}

body {
    --hue: var(--hue-neutral);
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: hsl(var(--hue), 100%, 20%);
}

h2,
h3 {
    padding: 50px 40px;
    text-align: center;
}

#header {
    color: #655c68;
}

#question {
    padding: 0 50px 50px;
}

.heading {
    text-align: center;
    font-size: 2.5rem;
    color: #655c68;
}

body.correct {
    --hue: var(--hue-correct);
}

body.wrong {
    --hue: var(--hue-wrong);
}

.container {
    width: 800px;
    max-width: 75%;
    background-color: #f4f5f1;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.btn {
    --hue: var(--hue-neutral);
    border: 1px solid hsl(var(--hue), 100%, 30%);
    background-color: hsl(var(--hue), 100%, 50%);
    border-radius: 5px;
    padding: 5px 10px;
    color: #f4f5f1;
    outline: none;
}

.btn:hover {
    border-color: black;
}

.btn.correct {
    --hue: var(--hue-correct);
    color: #29202c;
}

.btn.wrong {
    --hue: var(--hue-wrong);
}

.run-btn,
.next-btn,
.restart-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}

.logo {
    height: 65px;
    padding-right: 5px;
}

a {
    text-decoration: none;
    color: #af847a;
}

a:hover {
    background-color: #af847a;
    color: #f4f5f1;
}

@media (max-width: 320px) {
    .container {
        height: 85vh;
        max-width: 85%;
    }

    .controls {
        margin: auto;
    }

    .heading {
        padding: 10px 0;
        font-size: 133%;
    }

    .logo {
        height: 40px;
    }

    h1,
    h2,
    h3 {
        font-size: 75%;
        padding: 10px;
    }

    .run-btn,
    .next-btn,
    .restart-btn {
        font-size: 1.2rem;
        font-weight: bold;
        padding: 8px 16px;
    }

    #question {
        padding: 0 20px 20px;
        text-align: center;
        font-size: 75%;
    }

    .btn {
        border-radius: 5px;
    }

    .btn-grid {
        margin: 10px 0;
    }

}

@media (max-width: 428px) {

    /* CSS rules specific to iPhone 13 Pro or devices with similar width */
    .container {
        height: 70vh;
        max-width: 85%;
    }

    .controls {
        margin: 50px auto;
    }

    .heading {
        padding: 10px 0;
        font-size: 133%;
    }

    .logo {
        height: 40px;
    }

    h1,
    h2,
    h3 {
        font-size: 75%;
        padding: 10px;
    }

    .run-btn,
    .next-btn,
    .restart-btn {
        font-size: 1.2rem;
        font-weight: bold;
        padding: 8px 16px;
    }

    #question {
        padding: 0 20px 20px;
        text-align: center;
        font-size: 75%;
    }

    .btn {
        border-radius: 5px;
        color: #f4f5f1;
        outline: none;
    }

    .btn-grid {
        margin: 10px 0;
    }
}

@media (max-width: 720px) {

    /* CSS rules specific to iPhone 13 Pro or devices with similar width */
    .container {
        height: 70vh;
        max-width: 85%;
    }

    .controls {
        margin: 50px auto;
    }

    .heading {
        padding: 10px 0;
        font-size: 133%;
    }

    .logo {
        height: 40px;
    }

    h1,
    h2,
    h3 {
        font-size: 75%;
        padding: 10px;
    }

    .run-btn,
    .next-btn,
    .restart-btn {
        font-size: 1.2rem;
        font-weight: bold;
        padding: 8px 16px;
    }

    #question {
        padding: 0 20px 20px;
        text-align: center;
        font-size: 75%;
    }

    .btn {
        border-radius: 5px;
        color: #f4f5f1;
        outline: none;
    }

    .btn-grid {
        margin: 10px 0;
    }
}